.tab-list {
  display: flex;
  white-space: nowrap;
}

.tab-item {
  position: relative;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-color-primary);
  cursor: pointer;
  transition: none;
  overflow: hidden;
}