.tool-page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background: var(--background-color);
  min-width: 1024px;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: visible;
  position: relative; /* overlay panel anchor */
  gap: 12px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--hover-background-color);
  font-family: sans-serif;
}
