@import "../../common/Tabs.css";

.tabbed-panel.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 3px;
  font-family: var(--font-family-base);
  font-size: 15px;
  border-right: 1px solid var(--border-color);
}

.tabbed-panel.top {
  height: 40px;
  border-bottom: 1px solid var(--border-color);
}

.tabbed-panel.middle {
  height: 40px;
  border-bottom: 1px solid var(--border-color);
}

.tabbed-panel.middle select {
  font-size: unset;
  font-family: unset;
}

.tabbed-panel.bottom {
  flex: 1;
  border-radius: 5px;
  overflow: auto;
  min-height: 0;
}

.tabbed-panel.bottom::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.tabbed-panel.bottom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.tabbed-panel.bottom::-webkit-scrollbar-track {
  background-color: var(--hover-background-color);
}

.tabbed-panel-tabs .tab-list {
  gap: 30px;
  justify-content: center;
  height: 100%;
}

.tabbed-panel-tabs .tab-item:hover,
.tabbed-panel-tabs .tab-item.active {
  color: var(--primary-color);
}

.tabbed-panel-tabs .tab-item.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--primary-color);
  height: 2px;
  width: 100%;
}

.tabbed-panel-tabs.tab-component.single-tab .tab-item.active::after {
  display: none;
}
