.app-header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.header-left {
  width: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 50px;
  max-width: 100%;
}

.header-tabs-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-tabs {
  flex: 1;
}

.header-tabs .tab-list {
  margin-left: 40px;
  display: flex;
  gap: 50px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.header-tabs .tab-item {
  position: relative;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color-primary);
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.header-tabs .tab-item.active {
  color: var(--primary-color);
}

.header-tabs .tab-item.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
}

.header-search-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
  width: 600px;
}

.search-container {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
