.app-main-view {
  flex-grow: 1;
  overflow: hidden; /* 스크롤 제거 */
  background-color: var(--hover-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0;
}

.initial-view-content.image-combined {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-view-content.image-combined .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.initial-view-content.image-combined .intro-logo {
  position: relative;
  max-width: 60%;
  max-height: 60%;
  z-index: 1;
}
