.app-main-view {
  flex-grow: 1;
  overflow: auto;
  background-color: var(--hover-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 0;
}

.initial-view-content {
  text-align: center;
  color: var(--text-color-light);
}

.initial-view-content h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.initial-view-content p {
  font-size: 1em;
  line-height: 1.6;
}