.canvas-viewer-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: 0 2px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.view-tabs-container {
  display: flex;
  flex-shrink: 0;
  background-color: var(--background-color-secondary);
  padding-left: 0px;
  border-bottom: 1px solid var(--border-color-dark);
}

.view-tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 8px 15px;
  background-color: var(--hover-background-color);
  border: 1px solid var(--border-color-dark);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  min-width: 10px;
  width: 250px;
  font-size: 13px;
  color: #495057;
}

.view-tab.active {
  background-color: var(--background-color);
  color: #000;
  z-index: 2;
  border-bottom-color: var(--background-color);
}

.view-tab:not(.active):hover {
  background-color: var(--hover-background-color-dark);
}

.tab-title {  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.close-tab-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  margin-left: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-secondary);
}

.close-tab-btn:hover {
  background-color: var(--border-color);
  color: #212529;
}

.viewer-content-area {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.viewer-header {
  flex-shrink: 0;
  padding: 8px 12px;
  background-color: var(--background-color-light);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
}

.viewer-title {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewer-close-btn {
  position: absolute;
  top: 45px;
  right: 25px;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

.viewer-close-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.server-response-view {
  flex-grow: 1;
  padding: 15px;
  margin: 0;
  background-color: var(--background-color-dark);
  color: var(--text-color-code);
  font-family: var(--font-family-code);
  font-size: var(--font-size-base);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
}